<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UkTote.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <userSettings>
        <UkTote.UI.Properties.Settings>
            <setting name="HostIpAddress" serializeAs="String">
                <value>217.46.202.209</value>
            </setting>
            <setting name="HostPort" serializeAs="String">
                <value>8032</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>ATCentrum5</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="BetFolder" serializeAs="String">
                <value>c:\UkTote\Bets</value>
            </setting>
            <setting name="FeedFolder" serializeAs="String">
                <value>c:\UkTote\Feed</value>
            </setting>
        </UkTote.UI.Properties.Settings>
    </userSettings>
</configuration>
